# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# importing output.csv from 
weather_df = pd.read_csv("..\output_data\WeatherPy_Output\weather.csv")
weather_df

,Unnamed: 0,City,Lat,Lng,Max Temp (f),Humidity,Cloudiness,Wind Speed,Country
0,0,rikitea,-23.1203,-134.9692,75.704,81,100,3.81,PF
1,1,sioux lookout,50.1001,-91.9170,68.270,32,75,3.60,CA
2,2,aklavik,68.2191,-135.0107,28.670,68,100,2.06,CA
3,3,rafaela,-31.2503,-61.4867,67.262,54,5,3.26,AR
4,4,saint george,37.1041,-113.5841,90.266,7,1,10.29,US
...,...,...,...,...,...,...,...,...,...
546,546,kostomuksha,64.5710,30.5767,25.304,83,100,3.60,RU
547,547,ugoofaaru,5.6667,73.0000,83.876,71,57,2.07,MV
548,548,tabuk,17.4189,121.4443,84.002,66,5,2.13,PH
549,549,yerbogachen,61.2767,108.0108,39.938,82,25,2.41,RU
550,550,anadyr,64.7500,177.4833,16.070,79,75,3.00,RU

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configuring gmaps
gmaps.configure(api_key=g_key)

# Creating list of coordinates
coordinates = weather_df[['Lat', 'Lng']]
humidity = weather_df['Humidity']

# Plotting map and adding heat layer
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(coordinates, weights=humidity, 
                                 dissipating=False, max_intensity=60,
                                 point_radius=1.5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# Creating my ideal conditions

ideal_df = weather_df[weather_df['Max Temp (f)'] < 84]
ideal_df = ideal_df[(ideal_df['Wind Speed'] < 20) & (ideal_df['Wind Speed'] > 4)]
ideal_df = ideal_df[(ideal_df['Cloudiness'] < 40) & (ideal_df['Cloudiness'] > 5)]
ideal_df

,Unnamed: 0,City,Lat,Lng,Max Temp (f),Humidity,Cloudiness,Wind Speed,Country
6,6,narsaq,60.9167,-46.0500,44.870,24,20,16.98,GL
26,26,yellowknife,62.4560,-114.3525,34.268,51,20,4.12,CA
59,59,bathsheba,13.2167,-59.5167,79.070,65,20,5.66,BB
61,61,kaitangata,-46.2817,169.8464,61.268,54,12,6.71,NZ
64,64,tukrah,32.5341,20.5791,83.732,21,19,6.45,LY
65,65,garissa,-0.4536,39.6401,79.286,77,28,5.49,KE
72,72,shimoda,34.6667,138.9500,66.272,55,20,8.23,JP
119,119,hasaki,35.7333,140.8333,70.268,49,20,6.69,JP
128,128,longyearbyen,78.2186,15.6401,17.870,67,20,4.12,SJ
136,136,oliver,49.1831,-119.5524,66.470,22,14,4.63,CA
169,169,pevek,69.7008,170.3133,16.682,81,28,4.26,RU
182,182,sechura,-5.5569,-80.8222,73.544,67,11,6.95,PE
217,217,avarua,-21.2078,-159.7750,80.870,78,20,7.20,CK
238,238,ilulissat,69.2167,-51.1000,43.070,49,11,5.14,GL
301,301,mandalgovi,45.7625,106.2708,62.456,23,6,7.40,MN
331,331,deniliquin,-35.5333,144.9667,75.650,40,9,5.82,AU
338,338,tecoanapa,16.5167,-98.7500,82.382,70,12,4.80,MX
340,340,tank,32.2217,70.3793,82.058,40,20,5.59,PK
370,370,dunedin,-45.8742,170.5036,61.502,53,8,4.65,NZ
390,390,las palmas,28.4204,-14.0131,66.470,68,20,7.72,ES
413,413,kingston,17.9970,-76.7936,80.870,74,20,4.12,JM
425,425,sao filipe,14.8961,-24.4956,72.914,71,7,4.06,CV
427,427,qasigiannguit,68.8193,-51.1922,43.070,49,15,5.14,GL
438,438,waingapu,-9.6567,120.2641,83.228,70,20,6.66,ID
453,453,katsuura,35.1333,140.3000,68.270,49,20,7.72,JP
469,469,alice springs,-23.7000,133.8833,80.870,26,30,4.12,AU
484,484,tateyama,34.9833,139.8667,68.270,55,20,8.23,JP
485,485,celestun,20.8667,-90.4000,81.086,74,25,7.02,MX
505,505,inhambane,-23.8650,35.3833,69.728,76,20,6.46,MZ
510,510,cascais,38.6979,-9.4215,53.276,73,10,4.57,PT
541,541,san rafael,-34.6177,-68.3301,60.854,49,25,4.25,AR

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
# Creating hotel data frame and adding blank "Hotel Name" column
hotel_df = ideal_df
hotel_df['Hotel Name'] = ''

hotel_name = []
hotel_lat = []
hotel_lng = []


# Creating for loop to add hotel for each row
for i, row in hotel_df.iterrows():

    try:
        # Setting search parameters and city coordinates
        hotel_search = "Hotel"
        city_coords = f"{row[2]},{row[3]}"
        radius = 5000

        params = {
            "location": city_coords,
            "keyword": hotel_search,
            "radius": radius,
            "key": g_key
        }

        # Building URL for Google Maps API
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        response = requests.get(base_url, params)


        hotel_choice = response.json()

    
        # Gathering hotel data and appending it to lists
        hotel_name.append(hotel_choice['results'][0]['name'])
        hotel_lat.append(hotel_choice['results'][0]['geometry']['location']['lat'])
        hotel_lng.append(hotel_choice['results'][0]['geometry']['location']['lng'])

    except:
         
        # Setting a placeholder name so row can be deleted if there is no hotel available
        hotel_name.append("Hotel name not found")

        pass

# Filling "Hotel Name" column with newly found hotels
hotel_df['Hotel Name'] = hotel_name
hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp (f),Humidity,Cloudiness,Wind Speed,Country,Hotel Name
6,6,narsaq,60.9167,-46.0500,44.870,24,20,16.98,GL,Igdlo Guesthouse
26,26,yellowknife,62.4560,-114.3525,34.268,51,20,4.12,CA,The Explorer Hotel
59,59,bathsheba,13.2167,-59.5167,79.070,65,20,5.66,BB,Atlantis Hotel
61,61,kaitangata,-46.2817,169.8464,61.268,54,12,6.71,NZ,Hotel name not found
64,64,tukrah,32.5341,20.5791,83.732,21,19,6.45,LY,مطعم الحيطة
65,65,garissa,-0.4536,39.6401,79.286,77,28,5.49,KE,Nomad Palace Hotel Garissa
72,72,shimoda,34.6667,138.9500,66.272,55,20,8.23,JP,Shimoda Tokyu Hotel
119,119,hasaki,35.7333,140.8333,70.268,49,20,6.69,JP,Hotel Sunrise Choshi
128,128,longyearbyen,78.2186,15.6401,17.870,67,20,4.12,SJ,"Radisson Blu Polar Hotel, Spitsbergen"
136,136,oliver,49.1831,-119.5524,66.470,22,14,4.63,CA,Coast Oliver Hotel
169,169,pevek,69.7008,170.3133,16.682,81,28,4.26,RU,Severnoye Zoloto
182,182,sechura,-5.5569,-80.8222,73.544,67,11,6.95,PE,Hotel Loma Dorada
217,217,avarua,-21.2078,-159.7750,80.870,78,20,7.20,CK,The Islander Hotel
238,238,ilulissat,69.2167,-51.1000,43.070,49,11,5.14,GL,Hotel Arctic
301,301,mandalgovi,45.7625,106.2708,62.456,23,6,7.40,MN,Mandal Hotel
331,331,deniliquin,-35.5333,144.9667,75.650,40,9,5.82,AU,BIG4 Deniliquin Holiday Park
338,338,tecoanapa,16.5167,-98.7500,82.382,70,12,4.80,MX,Hotel Garapacho
340,340,tank,32.2217,70.3793,82.058,40,20,5.59,PK,Daman Hotel and resturant tank
370,370,dunedin,-45.8742,170.5036,61.502,53,8,4.65,NZ,Hotel Saint Clair
390,390,las palmas,28.4204,-14.0131,66.470,68,20,7.72,ES,Hotel Rural Era de La Corte
413,413,kingston,17.9970,-76.7936,80.870,74,20,4.12,JM,Spanish Court Hotel
425,425,sao filipe,14.8961,-24.4956,72.914,71,7,4.06,CV,Hotel Xaguate
427,427,qasigiannguit,68.8193,-51.1922,43.070,49,15,5.14,GL,Hotel Diskobay
438,438,waingapu,-9.6567,120.2641,83.228,70,20,6.66,ID,Padadita Beach Hotel
453,453,katsuura,35.1333,140.3000,68.270,49,20,7.72,JP,Katsuura Hilltop Hotel & Residence
469,469,alice springs,-23.7000,133.8833,80.870,26,30,4.12,AU,DoubleTree by Hilton Hotel Alice Springs
484,484,tateyama,34.9833,139.8667,68.270,55,20,8.23,JP,Shinra
485,485,celestun,20.8667,-90.4000,81.086,74,25,7.02,MX,Playa 55 beach escape
505,505,inhambane,-23.8650,35.3833,69.728,76,20,6.46,MZ,Sentidos Beach Retreat
510,510,cascais,38.6979,-9.4215,53.276,73,10,4.57,PT,Hotel Albatroz Cascais
541,541,san rafael,-34.6177,-68.3301,60.854,49,25,4.25,AR,Tower Inn Hotel & Suites Casino Spa Convention...

In [13]:
# print(len(hotel_name))
# print(len(hotel_lat))
# print(len(hotel_lng))
# print(len(hotel_df))

# Updating data frame to remove rows with no hotel name
hotel_df = hotel_df[hotel_df['Hotel Name'] != "Hotel name not found"]

hotel_df

,Unnamed: 0,City,Lat,Lng,Max Temp (f),Humidity,Cloudiness,Wind Speed,Country,Hotel Name
6,6,narsaq,60.9167,-46.0500,44.870,24,20,16.98,GL,Igdlo Guesthouse
26,26,yellowknife,62.4560,-114.3525,34.268,51,20,4.12,CA,The Explorer Hotel
59,59,bathsheba,13.2167,-59.5167,79.070,65,20,5.66,BB,Atlantis Hotel
64,64,tukrah,32.5341,20.5791,83.732,21,19,6.45,LY,مطعم الحيطة
65,65,garissa,-0.4536,39.6401,79.286,77,28,5.49,KE,Nomad Palace Hotel Garissa
72,72,shimoda,34.6667,138.9500,66.272,55,20,8.23,JP,Shimoda Tokyu Hotel
119,119,hasaki,35.7333,140.8333,70.268,49,20,6.69,JP,Hotel Sunrise Choshi
128,128,longyearbyen,78.2186,15.6401,17.870,67,20,4.12,SJ,"Radisson Blu Polar Hotel, Spitsbergen"
136,136,oliver,49.1831,-119.5524,66.470,22,14,4.63,CA,Coast Oliver Hotel
169,169,pevek,69.7008,170.3133,16.682,81,28,4.26,RU,Severnoye Zoloto
182,182,sechura,-5.5569,-80.8222,73.544,67,11,6.95,PE,Hotel Loma Dorada
217,217,avarua,-21.2078,-159.7750,80.870,78,20,7.20,CK,The Islander Hotel
238,238,ilulissat,69.2167,-51.1000,43.070,49,11,5.14,GL,Hotel Arctic
301,301,mandalgovi,45.7625,106.2708,62.456,23,6,7.40,MN,Mandal Hotel
331,331,deniliquin,-35.5333,144.9667,75.650,40,9,5.82,AU,BIG4 Deniliquin Holiday Park
338,338,tecoanapa,16.5167,-98.7500,82.382,70,12,4.80,MX,Hotel Garapacho
340,340,tank,32.2217,70.3793,82.058,40,20,5.59,PK,Daman Hotel and resturant tank
370,370,dunedin,-45.8742,170.5036,61.502,53,8,4.65,NZ,Hotel Saint Clair
390,390,las palmas,28.4204,-14.0131,66.470,68,20,7.72,ES,Hotel Rural Era de La Corte
413,413,kingston,17.9970,-76.7936,80.870,74,20,4.12,JM,Spanish Court Hotel
425,425,sao filipe,14.8961,-24.4956,72.914,71,7,4.06,CV,Hotel Xaguate
427,427,qasigiannguit,68.8193,-51.1922,43.070,49,15,5.14,GL,Hotel Diskobay
438,438,waingapu,-9.6567,120.2641,83.228,70,20,6.66,ID,Padadita Beach Hotel
453,453,katsuura,35.1333,140.3000,68.270,49,20,7.72,JP,Katsuura Hilltop Hotel & Residence
469,469,alice springs,-23.7000,133.8833,80.870,26,30,4.12,AU,DoubleTree by Hilton Hotel Alice Springs
484,484,tateyama,34.9833,139.8667,68.270,55,20,8.23,JP,Shinra
485,485,celestun,20.8667,-90.4000,81.086,74,25,7.02,MX,Playa 55 beach escape
505,505,inhambane,-23.8650,35.3833,69.728,76,20,6.46,MZ,Sentidos Beach Retreat
510,510,cascais,38.6979,-9.4215,53.276,73,10,4.57,PT,Hotel Albatroz Cascais
541,541,san rafael,-34.6177,-68.3301,60.854,49,25,4.25,AR,Tower Inn Hotel & Suites Casino Spa Convention...

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Adding marker layer ontop of heat map

# Zipping hotel coordinates into unified list

coordinates = list(zip(hotel_lat, hotel_lng))


# Plotting map and adding heat layer
fig = gmaps.figure()

markers = gmaps.marker_layer(coordinates)

fig.add_layer(markers)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))